    .top-left {
    top: 50px;
    left: 80px;
    }
    .top-right {
    position: absolute;
    top: 50px;
    right: 200px;
    }
    .black {
    width: 100%;
    height: 20%
    }
    .black2 {
    width: 100%;
    height: 20%
    }
    .bot-right2 {
    position: relative;
    top: 40px;
    right: 60px;
    }