         .tombol-atas {
         width: 100%;
         height: 18%;
         margin: 1%;
         }
         .foto {
         width: 100%;
         height: 90%;
         margin: 2%;
         }
         .abu2 {
         width: 50%;
         }
         .hitam2 {
         width: 50%;
         }
         .centered {
         position: absolute;
         top: 110%;
         left: 50%;
         transform: translate(-50%, -50%);
         }
         .centered2 {
         position: absolute;
         top: 135%;
         left: 50%;
         transform: translate(-50%, -50%);
         }
         .top-left {
         position: absolute;
         top: 10%;
         left: 10%;
         }
         .bot-left {
         position: absolute;
         bottom: 11%;
         left: 10%;
         }
         .top-right {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .Extroverted {
         position: absolute;
         top: 150px;
         left: 80px;
         color: white;
         }
         .Intoverted {
         position: absolute;
         top: 150px;
         right: 80px;
         color: white;
         }
         .Intuitive {
         position: absolute;
         top: 300px;
         left: 80px;
         color: white;
         }
         .Oberservant {
         position: absolute;
         top: 300px;
         right: 80px;
         color: white;
         }
         .Thinking {
         position: absolute;
         top: 450px;
         left: 80px;
         color: white;
         }
         .Feeling {
         position: absolute;
         top: 450px;     
         right: 80px;
         color: white;
         }
         .Judging {
         position: absolute;
         top: 600px;
         left: 80px;
         color: white;
         }
         .Prospecting {
         position: absolute;
         top: 600px;
         right: 80px;
         color: white;
         }
         .top-left2 {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .top-right2 {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .top-left3 {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .bot-left3 {
         position: absolute;
         bottom: 15%;
         left: 36%;
         }