<html>

<body>

        
        <div class="row"> 
        {% for schedule in Schedule %}
        <p> {{schedule.date}}</p>
        <p> {{schedule.time}}</p>
        <p> {{schedule.activity }}</p>
        <p> {{chedule.place}}</p>
        
        
        {% endfor %}
        
        
        
        
        
        </div>


</body>



</html>