<html>

    <head>





    </head>

    <body>
    <form action="{% url 'FormSubmission' %" method="post"}>
    {% csrf_token %}
        <div><label>Date: </label>{{ FormSubmission.date }}</div><br>
        <div><label>Time: </label>{{ FormSubmission.time }}</div><br>
        <div><label>Activity: </label>{{ FormSubmission.activity }}</div><br>
        <div><label>Place: </label>{{ FormSubmission.place }}</div><br>
    
    {% for schedule in Schedule %}
        <p> schedule.place</p>
        
        
        {% endfor %}
    
    
    </div>
    </body>


</html>