<html>

<head>
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<style>{ % include 'story4/static/form tamu.css' %} </style>

</head>
https://www.colorhexa.com/423a3a.png
<body>
<!-- FIRST -->
<div class="container">
    <div class="row">
      <div class="col-sm-8" style="background-color:#4F4F49">
        <div class="top-left"><h1 style="color:white">Ruang Tamu</h1></div>
      </div>
      <div class="col-sm-4" style="background-color:#1E1C19;padding:10px">
        <a href="{% url 'home'%}"><button type="button" class="btn btn-danger tombol-atas"> home</button></a> <br>
      </div>
    </div>
</div>
    <!-- SECOND -->
<div class="container">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput2">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Name">
      </div>    
        <label for="formGroupExampleInput2">Date</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="DD-MM-YYYY">          
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Subject</label>
        <input type="text" class="form-control" id="formGroupExampleInput">
      </div>      
      <div class="form-group">
        <label for="exampleInputPassword1">Comment</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<form>

</form>

</body>









</html>