<!DOCTYPE html>
<html>
    {% load staticfiles %}
   <head>
      <!-- CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <style>
         .tombol-atas {
         width: 100%;
         height: 14%;
         margin: 1%;
         }
         .foto {
         width: 100%;
         height: 90%;
         margin: 2%;
         }
         .abu2 {
         width: 50%;
         }
         .hitam2 {
         width: 50%;
         }
         .centered {
         position: absolute;
         top: 110%;
         left: 50%;
         transform: translate(-50%, -50%);
         }
         .centered2 {
         position: absolute;
         top: 135%;
         left: 50%;
         transform: translate(-50%, -50%);
         }
         .top-left {
         position: absolute;
         top: 10%;
         left: 10%;
         }
         .bot-left {
         position: absolute;
         bottom: 11%;
         left: 10%;
         }
         .top-right {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .Extroverted {
         position: absolute;
         top: 150px;
         left: 80px;
         color: white;
         }
         .Intoverted {
         position: absolute;
         top: 150px;
         right: 80px;
         color: white;
         }
         .Intuitive {
         position: absolute;
         top: 300px;
         left: 80px;
         color: white;
         }
         .Oberservant {
         position: absolute;
         top: 300px;
         right: 80px;
         color: white;
         }
         .Thinking {
         position: absolute;
         top: 450px;
         left: 80px;
         color: white;
         }
         .Feeling {
         position: absolute;
         top: 450px;     
         right: 80px;
         color: white;
         }
         .Judging {
         position: absolute;
         top: 600px;
         left: 80px;
         color: white;
         }
         .Prospecting {
         position: absolute;
         top: 600px;
         right: 80px;
         color: white;
         }
         .top-left2 {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .top-right2 {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .top-left3 {
         position: absolute;
         top: 50px;
         left: 80px;
         }
         .bot-left3 {
         position: absolute;
         bottom: 15%;
         left: 36%;
         }
      </style>
   </head>
   <body>
      <!-- FIRST -->
      <div class="row" style="background-color:#473b46">
         <div class="col-8">
            <img class="foto" src="https://orig00.deviantart.net/a875/f/2018/051/7/a/9_by_milliganvick-dc3ro7u.png" alt="Tio">
         </div>
         <div class="col-4">
            <a href="#ABOUT"><button type="button" class="btn btn-danger tombol-atas">About and Personalities</button></a> <br>
            <a href="#PORTOFOLIO"><button type="button" class="btn btn-danger tombol-atas">Portofolio and Skill</button></a> <br>
            <a href="#EDUCATION"><button type="button" class="btn btn-danger tombol-atas">Education and Project</button></a> <br>
            <a href="{% url 'formTamu' %}"><button type="button" class="btn btn-danger tombol-atas"> Guest Form</button></a> <br>
            <a href="{% url 'myProfile' %}"><button type="button" class="btn btn-danger tombol-atas">My Profile </button> </a>
            <a href="{% url 'Submission' %}"><button type="button" class="btn btn-danger tombol-atas">Memo </button> </a>            
         </div>
      </div>

      <!-- SECOND -->
      <div class="row">
         <div class="col-6 ">
            <img class="foto2" src="https://s3-alpha.figma.com/img/70a6/2739/a964c43d4fe2bbdd00a1589a392cb362" width="110%" height="750px" alt="Tio">
            <div class="top-left" id="ABOUT">
               <h1 style="color:white">About</h1>
            </div>
            <div class="bot-left text-align-center">
               <h4 style="color:white">Arditio Triadi Riski usually called Tio. Easy going and friendly person.
                  An introvered but can do well on group works. Also have good sense of humor.
               </h4>
            </div>
         </div>
         <div class="col-6" style="background-color:#516939;">
            <div class="row" style="color:white;font-size:40px;padding:10px">Personalities</div>
            <div class="row" style="padding: 50px">
               <div class="col-6 " style="color:white">
                     <h4>Extroverted</h4>
               </div>
               <div class="col-6 " style="color:white">
                     <h4>Intoverted</h4>    
               </div>              
            </div>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 44%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">44%</div>
            </div>

            <div class="row" style="padding: 50px">
               <div class="col-6 " style="color:white">
                     <h4>Intuitive</h4>
               </div>
               <div class="col-6 " style="color:white">
                     <h4>Oberservant</h4>    
               </div>              
            </div>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 59%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">59%</div>
            </div>            
            
            <div class="row" style="padding: 50px">
               <div class="col-6 " style="color:white">
                     <h4>Thinking</h4>
               </div>
               <div class="col-6 " style="color:white">
                     <h4>Feeling</h4>    
               </div>              
            </div>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 76%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">76%</div>
            </div>    

            <div class="row" style="padding: 50px">
               <div class="col-6 " style="color:white">
                     <h4>Judging</h4>
               </div>
               <div class="col-6 " style="color:white">
                     <h4>Prospecting</h4>    
               </div>              
            </div>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 72%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">72%</div>
            </div>


            
         </div>
      </div>
      <!-- THIRD -->
      <div class="row">
         <div class="col-6 " style="background-color: #851818">
            <div class="top-left2" id="PORTOFOLIO">
               <h1 style="color:white">Portofolio</h1>
            </div>
         </div>
         <div class="col-6 " style="margin-left: -15px;">
            <img class="foto3" src="https://www.howtocleanthings.com/wp-content/uploads/2018/03/electronics_laptop-001-768x512.jpg" width="104.5%" height="750" alt="Tio">
            <div class="top-right2">
               <h1 style="color:black">Skill</h1>
            </div>
         </div>
      </div>
      <!-- FOURTH -->
      <div class="row">
         <div class="col-6 " style="background-color: #9BA52F">
            <img class="foto3" src="http://challenginghorizon.com/wp-content/uploads/2016/03/educational-institutes-banner-img.png" width="100%" height="750" alt="Tio">
            <div class="top-left3" id="EDUCATION">
               <h1 style="color:black">Education</h1>
            </div>
            <div class="bot-left3">
               <h4 style="color:black">SD TUGU IBU <br> SMPN 3 Depok <br> SMAN 1 Depok <br> Universitas Indonesia.</h4>
            </div>
         </div>
         <div class="col-6 " style="margin-left: -15px;">
            <img class="foto3" src="https://kit8.net/images/thumbnails/700/525/detailed/1/document_management_1.png" width="104.5%" height="750" alt="Tio">
            <div class="top-right2">
               <h1 style="color:black">Project</h1>
            </div>
         </div>
      </div>
      
      {% include 'footer.html' %}
      
      
      
   </body>
   
   
   
</html>
