<html>
<head>
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <style>{ % include 'story4/static/form tamu.css' %} </style>
</head>

<body>
<!-- FIRST -->
<div class="container">
    <div class="row">
      <div class="col-sm-8" style="background-color:#4F4F49">
        <div class="top-left"><h1 style="color:white">My Profile</h1></div>
      </div>
      <div class="col-sm-4" style="background-color:#1E1C19;padding:10px">
        <a href="{% url 'home'%}"><button type="button" class="btn btn-danger tombol-atas"> home</button></a> <br>
      </div>
    </div>
</div>
<!-- SECOND -->
<div class="container">
      <div class="row">
      <div class="col-sm-4">
        <img class="TIO" src="https://s3-alpha.figma.com/img/9518/dfa3/e047e18907dcd5df2e0aa742db1459a1" alt="TIO" height=300px width=300px>
      </div>
      <div class="col-sm-8">
        <div class="bot-right2"><h4 style="color:black">Name:  Arditio Triadi Riski <br> Age:  19 <br> Hobby: Table Tennis <br> Address:  Jl. Merdeka Barat no 5 RT 05/30, Mekarjaya, Sukmajaya, West Java, Indonesia</h4></div>
      </div>
    </div>
</div>
    
    
    
    
    
    
    
    
    
    
    
    
</body>



















</html>