<html>
{% load staticfiles %}
    <head>





    </head>

    <body>
        <form action="{% url 'Submission' %}" method="post">
        {% csrf_token %}
        <div><label>Date: </label>{{ form.date }}</div><br>
        <div><label>Time: </label>{{ form.time }}</div><br>
        <div><label>Activity: </label>{{ form.activity }}</div><br>
        <div><label>Place: </label>{{ form.place }}</div><br>
        
        <button class="bt1" type="submit" value="submit">Submit</button>
        
        <div class="row"> 
        {% for schedule in Schedule %}
        <p> {{schedule.date}}</p>
        <p> {{schedule.time}}</p>
        <p> {{schedule.activity }}</p>
        <p> {{schedule.place}}</p>
        
        
        {% endfor %}
        
        
        
        
        
        </div>
    
    
    
    
    
    
    
    </body>


</html>